.hybridHeader {
  position: fixed;
  top: 0;
  height: 55px;
  display: flex;
  z-index: 1;
  align-items: center;
  width: 96%;
  box-shadow: 0 0 2px 0 #9b9a9a;
  justify-content: space-between;
  background-color: white;
  color: #2626f0;
  padding: 0 2%;
}
.hybridHeader .header-left, .hybridHeader .header-right {
  height: 100%;
  display: flex;
  align-items: center;
}
.hybridHeader .header-left .comp-Name, .hybridHeader .header-right .comp-Name {
  margin-left: 5%;
  text-decoration: none;
  color: inherit;
  font-size: 19pt;
}
.hybridHeader .header-right {
  justify-content: space-between;
  width: 7%;
}
.hybridHeader form {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hybridHeader form input[type=text] {
  padding-left: 2%;
  height: 70%;
  width: 80%;
  border-radius: 5px;
  border: none;
  background: #e2e0e0;
}
.hybridHeader form input[type=text]::placeholder {
  color: #9b9a9a;
}
.hybridHeader form input[type=submit] {
  margin-left: 2%;
  padding: 0 2%;
  height: 70%;
  background: blue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition-duration: 300ms;
}
.hybridHeader form input[type=submit]:hover {
  transform: scale(1.05);
}

.cart-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-icon-container .cart-icon {
  height: 45%;
}

.login-btn {
  background-color: white;
  padding: 1%;
  border-radius: 4px;
  color: blue;
  font-size: 13pt;
  text-decoration: none;
}

.sideBarButton {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sideBarButton .sideBarButtonLine {
  height: 7%;
  margin: 6% 0;
  width: 60%;
  border-radius: 3px;
  background: #2626f0;
}

.home {
  margin-top: 55px;
}
.home .section-heading {
  color: #2626f0;
  margin-left: 2%;
  font-size: 21pt;
}
.home .homeSection-big-slideshow-outer-layer {
  height: 420px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 21px;
}
.home .homeSection-big-slideshow-outer-layer::-webkit-scrollbar {
  display: none;
}
.home .homeSection-big-slideshow-outer-layer .homeSection-big-slideshow-container {
  width: 500%;
  height: 100%;
  display: flex;
}
.home .homeSection-banner-slider-outer-layer {
  height: 350px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 15px;
}
.home .homeSection-banner-slider-outer-layer::-webkit-scrollbar {
  display: none;
}
.home .homeSection-banner-slider-outer-layer .homeSection-banner-slider-container {
  display: flex;
  width: fit-content;
  margin-left: 2%;
  align-items: center;
  height: 100%;
}
.home .homeSection-item-row {
  height: 600px;
  display: grid;
  padding: 0 2%;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-template-rows: 47.5% 47.5%;
  column-gap: 2%;
  row-gap: 5%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.home .homeSection-item-row .homeSection-item {
  background: #2626f0;
}
.home .homeSection-button-row {
  height: 75px;
  display: flex;
  justify-content: center;
  margin-bottom: 4.5px;
}
.home .homeSection-button-row-item {
  margin: 0 2%;
  display: flex;
  font-size: 11pt;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 80%;
  padding: 0 2%;
  width: 12%;
}
.home .homeSection-button-row .btn-1 {
  background-color: black;
}
.home .homeSection-button-row .btn-2 {
  background-color: #6c1da7;
}
.home .homeSection-button-row .btn-3 {
  background-color: #09369a;
}
.home .homeSection-button-row .btn-4 {
  background-color: #da8419;
}
.home .homeSection-button-row .btn-5 {
  background-color: #308206;
}
.home .homeSection-double-banner {
  height: 355px;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35.5px;
}

.product-page {
  font-size: 11pt;
  margin-top: 55px;
  background: white;
  color: #151515;
}
.product-page .product-address {
  width: 98%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  height: 55px;
  background-color: #e2e0e0;
}
.product-page .product-address .product-dir {
  font-weight: bold;
}
.product-page .product-stage {
  height: 600px;
  display: grid;
  padding: 0 2%;
  grid-template-columns: 42% 57%;
  grid-template-rows: 100%;
  grid-column-gap: 1%;
  column-gap: 1%;
}
.product-page .product-stage .product-image-section .product-image-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  font-size: 50pt;
}
.product-page .product-stage .product-image-section .product-image-container .product-image {
  height: 90%;
  color: white;
  display: flex;
  align-items: center;
}
.product-page .product-stage .product-details-section {
  display: flex;
  flex-direction: column;
}
.product-page .product-stage .product-details-section .product-name {
  font-size: 26pt;
  margin: 2% 0 2% 0;
}
.product-page .product-stage .product-details-section .product-price {
  font-size: 31pt;
  color: #2626f0;
  margin: 2% 0 0 0;
}
.product-page .product-stage .product-details-section .product-info {
  overflow: hidden;
  position: relative;
  height: 17%;
}
.product-page .product-stage .product-details-section .product-button-row {
  height: 50px;
  font-size: 10pt;
  display: flex;
}
.product-page .product-stage .product-details-section .product-button-row #product-quantity {
  width: 15%;
  margin-right: 2%;
  padding-left: 2%;
}
.product-page .product-stage .product-details-section .product-button-row .product-add-to-wishlist,
.product-page .product-stage .product-details-section .product-button-row .product-add-to-cart {
  width: 30%;
}
.product-page .product-stage .product-details-section .product-button-row .product-add-to-wishlist {
  height: 100%;
  color: white;
  cursor: pointer;
  margin-right: 2%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 2%;
}
.product-page .product-stage .product-details-section .product-button-row .wishlist-icon {
  height: 85%;
  margin-right: 8%;
}
.product-page .product-stage .product-details-section .product-button-row .product-add-to-cart {
  color: white;
  border: none;
  cursor: pointer;
}
.product-page .product-stage .product-details-section label {
  font-weight: bold;
}
.product-page .product-podium {
  height: 400px;
}
.product-page .product-podium .toggle-info {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-page .product-podium .toggle-info .product-descr-button,
.product-page .product-podium .toggle-info .product-rev-button {
  margin: 0 2%;
}

.product-quantity-error {
  color: red;
}

#cartpage {
  margin-top: 55px;
  height: 900px;
}
#cartpage-empty {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: #9b9a9a;
}

.big-slide {
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.big-slide .big-slide-inner {
  color: white;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30pt;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, black, transparent);
}
.big-slide .big-slide-inner span {
  width: 35%;
}
.big-slide .big-slide-inner .shop-prompt {
  margin-top: 2%;
  padding: 1% 2%;
  border: 2px solid white;
  border-radius: 3px;
  text-decoration: none;
  color: inherit;
  font-size: 13pt;
  width: fit-content;
  transition-duration: 300ms;
}
.big-slide .big-slide-inner .shop-prompt:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.item {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}
.item .item-image-container {
  height: 67%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.item .item-image-container .item-image {
  height: 85%;
}
.item .item-info {
  padding-left: 5%;
  height: 33%;
  background-color: white;
}
.item .item-info .item-name {
  font-size: 13pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item .item-info .item-price {
  font-size: 25pt;
  margin-top: 1%;
}
.item .item-info .star-rating {
  height: 16px;
}

.banner {
  height: 85%;
  width: 390px;
  overflow: hidden;
  background-color: #2626f0;
  background-position: center;
  background-size: cover;
  margin-right: 2%;
}
.banner-inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.banner-inner span {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: white;
  font-size: 16pt;
  text-overflow: ellipsis;
  margin-bottom: 5%;
}

.db-banner {
  height: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 48%;
}

.hybridFooter {
  height: 400px;
  background-color: white;
  color: #2626f0;
}
.hybridFooter .email-newsletter-prompt {
  height: 74px;
  width: 96%;
  padding: 0 2%;
  display: flex;
  border-bottom: 2px solid;
}
.hybridFooter .email-newsletter-prompt .newslet-1, .hybridFooter .email-newsletter-prompt .newslet-2 {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hybridFooter .email-newsletter-prompt .newslet-1 {
  font-weight: bold;
  font-size: 17pt;
  text-align: initial;
}
.hybridFooter .email-newsletter-prompt form {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hybridFooter .email-newsletter-prompt form input[type=email] {
  height: 52%;
  border: 2px solid #2626f0;
  width: 74%;
}
.hybridFooter .email-newsletter-prompt form input[type=submit] {
  height: 58%;
  background: #2626f0;
  border: none;
  color: white;
}
.hybridFooter .footer-options {
  display: flex;
  justify-content: space-evenly;
  padding: 0 5%;
}
.hybridFooter .footer-options ul > li {
  list-style: none;
  margin: 7% 0;
  font-size: 10pt;
}
.hybridFooter .footer-options ul > li a {
  text-decoration: none;
  color: inherit;
}
.hybridFooter .copyright {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.star-rating {
  display: flex;
  height: 25px;
}
.star-rating .star {
  height: 100%;
  margin-right: 2%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e2e0e0;
}

#cart-items {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}

/*# sourceMappingURL=hybrid.css.map */
