@import 'variables';

.item {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    .item-image-container {
        height: 67%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $themeColor;
        .item-image {
            height: 85%;
        }
    }
    .item-info {
        padding-left: 5%;
        height: 33%;
        background-color: $themeColor;
        .item-name {
            font-size: 13pt;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .item-price {
            font-size: 25pt;
            margin-top: 1%;
        }
        .star-rating {
            height: 16px;
        }
    }
}
